h1{
    color: var(--blue);
    font-size: 2.25rem;
    font-weight: 700;
    text-align: center;
}

// IMAGES
.woman-image{
    position: absolute;
    top: -110px; //mozno upravit na rem
    width: 14.625rem;

    @media only screen and (min-width: 1440px){
        left: -8%;
        top: 5%;
        width: 25rem;
    }
}
.bg-image{
    @media only screen and (min-width: 1440px){
        display: none;
    }
}

// TEXTS
.faq-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    @media only screen and (min-width: 1440px){
        
    }
}

section{
    border-bottom: solid 1px var(--divider);
    font-size: 1.2em;
    margin-bottom: .5rem;
    position: relative;
    width: 100%;

    @media only screen and (min-width: 1440px){
        
    }

    p{
        margin-bottom: 1rem;
        line-height: 1.625;

        img{
            transition: ease-in-out 0.5s transform;
        }
    }
}

section:first-of-type{
    margin-top: 2rem;
}

section:last-of-type{
    border: none;
    margin: 0;
}

.main-text{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    text-align: left;
    cursor: pointer;
}

.main-text:hover{
    color: var(--red);
    font-weight: 700;
}

.additional-text{
    position: absolute;
    overflow: hidden;
    height: 0;
    transition: 0.3s;
}

// JAVASCRIPT CLASSES:
section.active > .additional-text{
    position: relative;
    height: auto;
    overflow-y: auto;
}

section.active p img{
    transform: rotate(180deg);
}

section.active .main-text{
    font-weight: 700;
}